body {
  background-image: linear-gradient(60deg, #43cea2,  #185a9d);
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 34px;
}

ul {
  opacity: 0.8;
}

input {
  
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


button {

  background-color: #FE5F55; 
  border: none;
  color: black;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button:hover {
  background-color: #d7263d;
}


#deleteB {
  color: white;
}

li :checked  {
 text-decoration: line-through;
}

#todo-button {
  background-color: #bdd5ea;

}
#todo-button:hover {
  color: white;
  background-color: #185A9D;
}

.button-check {
  background-color: #4CAF50;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li {
  background-color: white;
  color: black;
  width: 50%;
  display: flex;
  margin-left: 23.5%;
  justify-content: space-between;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
